<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>本报记者 汤浔芳 北京报道
    互联网金融的火爆让创业者看到了4年前移动互联网开始兴起时的蓝海光景。
    今年起，铜板街、挖财、融360、好贷网等都借着互联网金融的火爆大受追捧。8月，融360拿到了3000万美元的B轮融资，好贷网亦紧锣密鼓地进行A轮融资，而刚创业不久的铜板街也频繁传出与投资人关系密切的消息。
    而一直缓慢增长的第三方基金销售平台，今年迎来了爆发式增长。东方财富网旗下的天天基金网、数米基金网的销售业绩已经超过了去年一年。
    支付宝旗下的余额宝更像一条鲶鱼，有了搅动基金销售渠道的征兆，被视为互联网金融目前最大的创新产品。仅仅经过两个月，余额宝的销售量就达到200亿元。
    这一数字惊呆了传统金融行业的人，没想到互联网平台果然有这么大的能量。惊讶的同时，也感到了恐慌。于是，全国各地，互联网金融的讲座、演讲、会议如雨后春笋般崛起，并且场场爆满。
    8月22日~23日，北京民族饭店举办了针对银行、证券、基金等金融机构的互联网金融实践应用高层研修会。
    会上，深交所副总经理陈鸿桥对100多名金融行业精英说，在短短半年之内，互联网金融发展得很迅猛。余额宝推出仅两个多月，交易额就达到200亿元。用“颠覆”一词来形容互联网的力量并不为过。他表示，不要小看互联网的创新，互联网具有很快的学习、创新、以用户体验为核心的能力，将会酝酿很多新机会。
    互联网金融的创新活动持续不断，信用支付、移动支付、手机银行、P2P网贷、众筹、虚拟货币等层出不穷。
    在互联网金融上，各路“诸侯”纷纷放马逐鹿。既有银行、证券、保险、基金等传统的金融机构，又有阿里、腾讯、京东、百度等互联网、电商企业，移动、联通、电信等运营商也非常活跃，即便是恒生电子、金证股份等IT公司也不甘寂寞，每个企业都在创新商业模式，都希望自己的产品能够在互联网金融大潮上分得一杯羹。
    中投公司副总经理谢平认为，“中国的互联网金融可能需要20年成形。”这句话的另一层涵义是，这20年里都有机会。
    互联网躁动分羹
    互联网行业一篇赫赫有名的《降级论》号召互联网的IT精英们去各个传统行业寻找新的机会。于是，出现了互联网教育、互联网医疗、互联网金融、移动互联网的大热潮。
    在央行副行长刘士余看来，现在互联网金融已经出现3种形态：互联网支付、P2P和众筹融资。2012年，互联网支付的市场规模超过10万亿。2012年，P2P网贷平台有300家，交易额超过200亿。
    围绕着这三种形态已经出现了不少创新。比如移动支付、虚拟信用支付、近场支付、电子钱包等创新层出不穷。8月底，阿里将上线虚拟信用支付，这意味着，用户通过支付宝购物可以“透支”。
    目前，互联网企业用这些创新的产品既博得了眼球，也抢占了金融市场。8月5日，支付现身微信5.0，未来，通过微信就可以实现支付，既方便、又快捷。未来，基于财付通可以买基金、享受理财服务。
    金融原本就诞生于贸易之中，中国最早的银行便起源于山西商号。于是，电商涉足互联网金融就成为水到渠成的事。
    虽然其公司名字为小微金服，但阿里金融构建的互联网金融帝国已经让传统的金融机构“胆寒”。余额宝上线2个月，其完成的销售额就达到200亿元，天弘基金也一跃成为国内一流的基金机构之一。截至2013年6月，阿里小贷投入贷款总额超过1000亿元，客户数量超过32万。不仅规模量大，而且不良贷款率是0.84%，比例低于银行业的平均水平。
    而京东则从供应链金融端切入，目前京东平台的供应商有10万，50%有贷款需求。此前，京东获得银行100亿元的授信，可以与银行合作发放贷款。
    即便是传统零售业的苏宁，也同时在互联网金融与电商上发力。8月23日，苏宁发布公告称，已经向有关部门申请设立民营银行，并展开基金业务的申报备案工作，计划近期推出相应的基金支付产品与基金电商平台。目前，苏宁已经建立了金融事业部，将从事第三方支付、供应链融资、保险代理、基金销售等业务平台。
    此外，还有敦煌网、慧聪网等电商企业与银行合作，提供相应的金融服务。更有新浪、百度、盛大等互联网企业意欲从互联网金融市场中分一杯羹。
    金融系觉醒反击
    当看到自己的领土被侵食时，金融行业并没有坐以待毙。
    金融行业是信息化程度最高的行业，囊括了大量精英人才的金融行业，已经有尝试互联网金融者。不少券商、基金在互联网上拉业务，方正证券开设天猫官方旗舰店，华创证券开卖奢侈品，国泰君安设立网络金融部，取消零售客户部。而网上卖基金、卖保险已经不再是新鲜的事。
    有趣的是，银行系做电商也掀起了跨界热。建行的善融商务、交行的交博汇、民生电商、农业银行等都纷纷切入电商领域。
    2012年上线的建行善融商务是目前银行系做电商做得最好的平台。到今年年底，建行善融商务的销售额可以达到100亿元，其中B2C约是7亿~8亿元，剩下的便全是B2B。截至今年7月，善融商务的销售额超过60亿元。2012年，这一数字是35亿元。
    一位建行员工告诉记者，现在B2B的一些业务往往是通过网络上转账，而信息流还是走线下。大型银行在线下的大宗商品交易中心很有优势。这些交易中心里的商户一般都使用银行的支付工具转账，银行涉足B2B有很大机会。
    互联网金融最早的形态——支付已经基本是一个成熟的产业。在针对个人的第三方支付上，支付宝与财付通已经占据了绝大部分市场，剩下的机会并不多。而在企业级的第三方支付上，其中的机会很多。虽然经过五六年的发展，汇付天下、快钱、易宝支付等已经在企业级支付上占据了一定的份额，但其所圈定的份额依然很小。
    目前，整个第三方支付的市场规模是10万亿，这样的规模与银行相比，只是“蚍蜉撼树”。
    正在筹建中的民生电商来势汹汹，豪掷30亿元在深圳前海注册。民生电商相关业务负责人告诉记者，民生电商的着眼点既不是B2B，也不是B2C，而是O2O。目前，小微企业经营中的重点是客流与融资。
    这位负责人表示，利用互联网的技术工具来搭建一个平台，吸引中小企业。而开始时，利用贷款的诱饵来吸引小企业用这些软件，最开始是免费的，未来可能收费。但收费也会比较低，主要还是从企业融资上赚钱。民生电商首先瞄准的便是民生银行近百万的小微企业，借此，可以更有效地推电子商务服务。
    “银行做电商，都是披着电子商务的皮，当着金融行业的狼。” 宏源证券副所长易欢欢认为，银行干电商是为了获取用户信息，以便进行更好的风险控制，完成客户贷款。
    在传统的金融系，一个不忽视的对象是平安集团。平安集团是全业务线经营，目前有银行、证券、保险、基金、信托等全金融业务，另外，还有一个互联网金融试验田——P2P网贷平台陆金所。今年年初，陆金所正式上线，截至目前达成的交易额达到5亿元。 
    出招难分伯仲
    在这场角逐中，互联网与金融是两个背景完全不同的“学生”，双方不仅争论是“互联网金融”，还是“金融互联网”，并且在某些碰撞的领域亦打得不可开交。
    在互联网与金融结合的“试验田”里，两者正在不断发生冲撞。未来，可以看到，互联网的码农、产品经理们西装革履地编辑、设计UI；也会看到穿着T恤与牛仔裤给客户介绍创新产品。
    在这场战争中，电子商务与互联网企业涉及金融行业的杀手锏在于其庞大的用户账号体系，以及多年积累下来的数据。微信、支付宝、财付通、新浪微博的用户数都超过3亿，京东的用户数超过1亿。阿里巴巴B2B的注册会员接近8000万，付费会员是1030万个。如果阿里小贷有银行牌照，那么其小微企业客户数将超过拥有100万小微企业的民生银行。
    并且，这些用户已经基于互联网形成一个庞大的账号体系，并且用户在互联网上的行为数据、关系数据都全部存储下来。
    而金融机构借着内网存储的数据大部分“一无是处”，只能做一些精准营销。一位某银行电子银行部的员工告诉记者，银行存储的数据都是静态的数据，是用户需要贷款、开户时填写的一系列资料获得的数据。储户在转账过程中，银行也并不知道这笔资金用作什么，无法感知客户。
    而利用互联网的大数据技术，亦有很多的产品创新，并缩短贷款时间。电商平台可以做长、中、短的订单贷款、运费险、打车爽约险、虚拟货币失盗险、网络支付安全保障责任险等等。
    不久的未来，电商平台可以及时发放订单贷款。京东金融发展部总监刘长宏告诉记者，现在京东是上午申请，下午发放，未来是即时申请，几分钟内就发放。京东正在搭建一套基于大数据的风控体系，并建立一套交易系统，可以自动撮合交易，到了一定贷款额度时，才需人工审核批贷。
    这样的速度只有借助云计算、大数据、社交网络、移动互联等新经济时代的四大关键才能够完成。
    快钱CEO关国光认为，金融在所有行业中承担着中介、风险定价、杠杆等三个角色。在互联网金融时代，传统的中介职能一定会被挑战。金融服务行业，最大的传统中介就是商业银行。“缘何金融行业对余额宝高度重视，是因为这个创新式的产品冲击了银行的核心功能之一：中介。”
    但是风险与杠杆是传统金融机构的优势。由于金融业玩的便是风险，它们风险控制的能力依然胜于互联网企业。
    面对互联网、大数据，金融机构的风险定价模型遇到了挑战。在风险定价上，我国的商业银行往往是通过资产质押来定价，离现代金融的综合性能力还有很大差距。据一位建行电子银行部的员工告诉记者，目前，我国60%的银行贷款都是不动产抵押，而国外60%的银行贷款对是通过对动产估价而完成的。
    风险定价是现代金融最重要的能力。这个风险定价能力高度依赖于数据。谢平认为，未来互联网金融的核心在于以大数据为基础，可以在互联网上建立风险分析工具，自动生成“违约率”，解决了风险定价的问题。
    文思海辉总裁陈立峰告诉记者，未来的数据包括目前已经存储下来的结构化数据，也包括行为、动态信息、图片、视频等非结构化数据，这些数据最终会融合到一起，形成分析结构。目前，文思海辉正在研发这样的大数据交易系统，给互联网金融企业提供服务。
    赢在平台的游戏
    对于企业来说，“闷声发大财”是最幸福的活法。一旦某个领域很热，那么会迅速变成红海，对创业者来说，这并不是一个好消息。
    易欢欢认为，互联网金融搅动的这股创业热潮，到明年年底前，这股潮会褪色，90%的项目与公司会死掉。
    而由于互联网的规模效应，经过10多年发展的互联网，百度、阿里、腾讯（简称BAT）已经成为创业者，以及细分领域企业头顶上的三座大山。未来，互联网金融领域规模效应依旧存在，仍然是大鳄们的天下。很多类型的创新企业大多是昙花一现，要么委身于“大佬”，要么只能是守着自己的“一亩三分田”，要么走向死亡。
    “一个提供流动性的平台，才有价值。”陆金所副总经理黄黎明认为，未来，互联网金融的发展方向是解决现有市场缺陷的金融。比如，在渠道建设上，可以通过互联网金融去完善。平台的投资安全保障也很重要。互联网金融是通过互联网来完成线上对线上的工作。
    关国光认为，在重大的技术性变革里，最后能够留下来，创造大规模技术价值的很有可能是比较集中的几个业务模式，而不是百花齐放。
    “互联网金融中能够走出来的模式是中间性的平台模式。”关国光举例道，苹果的App Store是这个模式，亚马逊也是，国内的淘宝、天猫、京东等等都是这样模式。
    对于究竟是互联网平台获胜，还是金融大鳄夺冠，并无定论。翼龙贷CEO王思聪认为，互联网金融的未来，是属于互联网公司的。因为互联网公司快速、注重用户体验，创新性强。而金融企业认为，互联网金融30%是互联网，70%是金融，最终还是花落金融。关国光则明确表示，互联网“颠覆不了”金融，反而是互联网应该积极拥抱金融，让互联网的创新能力与金融的风险管理能力融合起来。</string>
	<key>title</key>
	<string>大佬战争：互联网金融的棋盘</string>
</dict>
</plist>
